doctype html
html
  head
  body
    .container(style="width: 640px; margin: 0 auto; padding: 10px; border-radius: 0.1px; border-color: #DCDCDC; border-style: solid;")
      .head(style="padding: 10px 0;")
        img(src='#{host}/img/dl_logol_blue.png' alt="动梨" style="background-size: contain; height: 30px;")
        span(style="float: right; color: #DCDCDC; font-size: 24px;")= title
      p.hi_content(style="color: #008000;")
        span(style="font-size:24px") Hi,
        span= who
      hr
      div!= content
      .instrction(style="margin-top: 40px;")
        p(style="color: #3bbee8;height:40px; line-height:40px; padding-left:40px; background:url(#{host}/img/icons/1_03.png) no-repeat left center; background-size: 40px;")
          span(style="font-size:24px; padding-left:10px;") 动梨 “活动管理”
        p(style="background:url(#{host}/img/icons/ico_01.png) no-repeat left center; height:30px; line-height:30px; padding-left:30px !important; background-size: 30px;")
          strong(style="padding-left:10px;") 快速建组 
          span 　在线完成公司内部或外部活动的创建和报名，移动客户端数据同步
        p(style="background:url(#{host}/img/icons/ico_03.png) no-repeat left center; height:30px; line-height:30px; padding-left:30px !important; background-size: 30px;")
          strong(style="padding-left:10px;") 简单管理 
          span 　员工活动日程列表，一键参与方便快捷，随时了解活动动态
        p(style="background:url(#{host}/img/icons/ico_02.png) no-repeat left center; height:30px; line-height:30px; padding-left:30px !important; background-size: 30px;")
          strong(style="padding-left:10px;") 随时分享 
          span 　活动支持相册上传，活动结束后手机端快速分享，随时记录
        p(style="background:url(#{host}/img/icons/ico_04.png) no-repeat left center; height:30px; line-height:30px; padding-left:30px !important; background-size: 30px;")
          strong(style="padding-left:10px;") 日程管理 
          span 　日程、提醒、双重辅助，员工公司活动事务井井有条
      .home_link(style="padding: 20px;")
        a(href='#{host}' style="background-color: #ba5a5c; color: #ffffff; padding: 10px; text-decoration: none; word-break: break-all;") 立即访问donler.com
      hr
      p(style="color: #DCDCDC;") 本邮件由系统自动发出，请勿回复
      p(style="color: #DCDCDC;")  Copyright 国内第一家企业级员工活动管理平台 donler.com
    .link_content(style="width: 640px; margin: 0 auto; padding: 10px; border-radius: 0.1px; border-color: #DCDCDC; border-style: solid;")
      .mail_link(style="width: 28%; display: inline-block; background:url(#{host}/img/icons/kefu.png) no-repeat left center; height:30px; line-height:30px; margin-left:10px; padding-left:40px !important; background-size: 30px;")
        span service@donler.com
      .weibo_link(style="width: 25%; display: inline-block; background:url(#{host}/img/icons/sina.png) no-repeat left center; height:30px; line-height:30px; padding-left:40px !important; background-size: 30px;")
        span @donler动梨
      .weixin_link(style="width: 25%; display: inline-block; background:url(#{host}/img/icons/wx.png) no-repeat left center; height:30px; line-height:30px; padding-left:40px !important; background-size: 30px;")
        span 微信号：donler
